name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings
  RUST_BACKTRACE: 1

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: Swatinem/rust-cache@v2
    - name: Update Rust
      run: rustup update stable
    - name: Check formatting
      run: cargo fmt --all -- --check
    - name: Clippy each feature set
      run: |
        DRYING_PAINT_WATCH_CYCLE_DEBUG=never \
          cargo clippy --all-targets --no-default-features
        DRYING_PAINT_WATCH_CYCLE_DEBUG=never \
          cargo clippy --all-targets --no-default-features --features "std"
        DRYING_PAINT_WATCH_CYCLE_DEBUG=always \
          cargo clippy --all-targets --no-default-features
        DRYING_PAINT_WATCH_CYCLE_DEBUG=always \
          cargo clippy --all-targets --no-default-features --features "std"
    - name: Build
      run: cargo build --verbose --all-targets --all-features
    - name: Run tests
      run: cargo test --verbose --all-features
    - name: Validate documentation
      run: cargo doc --all-features --no-deps
      env:
        RUSTDOCFLAGS: -Dwarnings
